<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container mt-3" style="max-width: 500px;">
<form method="POST" enctype="multipart/form-data">
  <div class="form-group">
  <label> Number:</label>
  <input class="form-control" value="{{studentNo}}" name="studentNo">
  </div>
  <div class="form-group">
  <label> name:</label> <input class="form-control" value="{{name}}" name="name">
  </div>
  <div class="form-group">
  <label>Profile picture</label><input class="form-control-file" type='file'  name='image'>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
